:root {
    --bg-dark: hsl(200, 70%, 0%);
    --bg: hsl(200, 70%, 5%);
    --bg-light: hsl(200, 70%, 10%);

    --accent: hsl(200 100% 20%);
    --hover: hsl(50, 100%, 20%);

    --text: hsl(200, 10%, 95%);
    --text-muted: hsl(200, 10%, 70%);

    --border: hsl(200, 10%, 10%);
    --highlight: hsl(200, 10%, 30%);
    --radius: 0.5rem;
    --rounded-shadow: 0px 2px 2px hsla(0,0%,0%, 0.07),
    0px 4px 4px hsla(0, 0%, 0%, 0.15);
    --divided-shadow: 4px 0px 2px -2px hsla(0,0%,0%, 0.07),
    8px 0px 4px -4px hsla(0, 0%, 0%, 0.0),
    -4px 0px 2px -2px hsla(0,0%,0%, 0.07),
    -8px 0px 4px -4px hsla(0, 0%, 0%, 0.0);

}

body.light {
    --bg-dark: hsl(200, 10%, 90%);
    --bg: hsl(200, 10%, 95%);
    --bg-light: hsl(200, 10%, 100%);

    --accent: hsl(200, 100%, 70%);
    --hover: hsl(50, 100%, 70%);

    --text: hsl(200, 70%, 5%);
    --text-muted: hsl(200,10%, 30%);

    --border: hsl(200, 10%, 80%);
    --highlight: hsl(200, 10%, 90%);
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    margin: 0;
}

body {
    background: var(--bg-dark);
    color: var(--text-muted);
    display: flex;
    flex-wrap: wrap;
}

button {
    background: var(--bg-light);
    padding: 0.5rem 2rem;
    color: var(--text-muted);
    
}

button:hover {
    background: var(--hover)
}

p {
  display: inline-block;
  isolation: isolate;
}

h1 {
    margin-bottom: 0.25em;
    font-weight: 900;
    color: var(--text)
}

.rounded {
    border-radius: var(--radius);
    border: solid 1px var(--border);
    /*border-top: solid 1px var(--highlight);*/
}

span.rounded {
    padding: 0.5rem;
    flex-shrink: 0;
}

.divided {
    border: solid 0px var(--border);
    border-left: solid 1px var(--border);
    border-right: solid 1px var(--border);
}

.pane {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex: 1 1 400px;
    padding: 1.5rem;
    gap: 0.5rem;
}

.card {
    background: var(--bg);
    color: var(--text-muted);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    gap: 0.5rem;
}

.accent {
    background-color: var(--accent);
    color: var(--text);
    font-weight: 500;
}

#image-pane {
    background-image: url("images/receipts_stacked.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*box-shadow: 0 0 5px 5px var(--bg-dark) inset;*/
}

#welcome-card h1 {
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: 900;
    color: var(--text)
}
